$default-opening-animation: ease-in fade-in 0.5s;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

html, body {
  width: 100%;
  height: 100%;
  transition: background-color 0.5s ease-in-out;
  font-family: 'Nunito', system-ui;
}

main {
  animation: $default-opening-animation;
}

button {
  font-family: 'Nunito', system-ui;
  cursor: pointer;
  background: none;
  border: none;
}

i {
  transition: color 0.5s ease-in-out;
}

educare-svg {
  transition: filter 0.5s ease-in-out;
}

body[data-theme='dark'] {
  background: rgba(21, 21, 21, 1);

  educare-svg {
    filter: brightness(0) invert(1);
  }

  i, span, h1 {
    color: rgba(242, 243, 247, 1);
  }
}

body[data-theme='light'] {
  background: rgba(242, 243, 247, 1);

  educare-svg {
    filter: brightness(0) invert(0);
  }

  i, span, h1 {
    color: rgba(21, 21, 21, 1);
  }
}

@media only screen and (min-width: 1025px) {
  educare-svg svg {
    width: 16rem;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  } to {
      opacity: 1;
    }
}
