<main>
  <header>
    <educare-svg></educare-svg>

    <section>
      <span>version: {{ frameworkVersion }}</span>

      <button (click)="toggleTheme()" *ngIf="!darkTheme">
        <i class="fa-solid fa-moon"></i>
      </button>

      <button (click)="toggleTheme()" *ngIf="darkTheme">
        <i class="fa-solid fa-sun-bright"></i>
      </button>
    </section>
  </header>

  <section class="components">
    <notification-service-component></notification-service-component>
    <radio-button></radio-button>
    <multi-option-select></multi-option-select>
  </section>
</main>
