<main>
  <header>
    <educare-svg></educare-svg>

    <section>
      <span>version: {{ frameworkVersion }}</span>

      @if (darkTheme) {
        <button (click)="toggleTheme()">
          <i class="fa-solid fa-sun-bright"></i>
        </button>
      } @else {
        <button (click)="toggleTheme()">
          <i class="fa-solid fa-moon"></i>
        </button>
      }
    </section>
  </header>

  <section class="components">
    <notification-service-component></notification-service-component>
    <radio-button></radio-button>
    <multi-option-select></multi-option-select>
    <file-uploader></file-uploader>
  </section>
</main>
