$light-background-colors: (
  primary-background-color: rgba(243, 243, 248, 1),
  secondary-background-color: rgba(227, 227, 227, 1),
  tertiary-background-color: rgba(222, 222, 222, 1),
  quaternary-background-color: rgba(147, 147, 147, 1),
);

$light-font-colors: (
  primary-font-color: rgba(21, 21, 21, 1),
  secondary-font-color: rgba(25, 25, 25, 1),
  tertiary-font-color: rgba(96, 96, 96, 1),
);

$light-button-color: rgba(239, 239, 239, 1);
$light-gradient-color: linear-gradient(90deg, rgba(47, 62, 91, 1) 0%, rgba(64, 83, 131, 1) 100%);
$light-button-disabled-background-color: rgba(90, 90, 93, 1);
$light-button-disabled-color: rgba(213, 213, 213, 1);
$light-outline-border-color: rgba(171, 217, 254, 1);
$light-router-link-color: rgba(62, 92, 104, 1);
